.input {
  border-radius: 15px;
  font-size: 14px;
  background: var(--input-background-color);
  border: none;
  text-align: center;
}
<<<<<<< HEAD
.input ::placeholder {
  color: #b6b7b7;
  font-size: 20px;
=======
input ::placeholder {
  color: var(--placeholder-color);
  font-size: 14px;
>>>>>>> main
}
