.btn {
  border-radius: 20px;
  font-size: 16px;
  color: var(--input-background-color);
  background: #13ac27;
  border: none;
  padding: 15px 20px;
  align-items: center;
}
.btn-border {
  color: var(--main-color);
  background: var(--input-backround-color);
  border: 1px solid var(--main-color);
}
