.card {
  border-radius: 10%;
  height: 12vw;
  width: 12vw;
  object-fit: cover;
  object-position: center;
}
figcaption {
  text-align: center;
  padding-top: 10px;
  font-weight: bold;
}
.card-text {
  text-align: center;
  font-weight: bold;
}
